*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
	display: flex;
	width: 95%;
	height: 10vh;
	margin: auto;
	align-items: center;
	/* background-color: antiquewhite; */
}

.img{
	width: 60px;
}

.logo-container,
.nav-links,
.cart {
	display: flex;
}

.logo-container {
	flex: 1;
}
.logo {
	font-weight: 400;
	margin: 5px;
}
nav {
	flex: 2;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
	padding-left: 150px;
}
.nav-links button{
	
	background-color: blue;
	padding: 10px;
	color: white;
	border-radius: 100px;
}
.nav-link {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;
}
.content{
	margin-top: 100px;
	padding-left: 100px;
	border: 15px solid aliceblue;
	padding: 100px;
	border-radius: 45px;
	/* border-style: outset; */
}

.main-content h1, p{
	padding-bottom: 20px;
}

.btn{
	background-color: blue;
	width: 130px;
	padding: 10px;
	color: white;
	border-radius: 100px;
}
.bg{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	
}
.bg-content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-content h1{
	padding-left: 100px;
}

.imgbg{
	width: 450px;
	margin-left: 195px;
	flex-direction: column;
}
/* THIS IS AN ERROR TRYING TO COLOR SOMETHING */
/* .box{
	border: 12px solid #5f5f79;
	margin-left: 390px;
	padding-bottom: 200px;
} */

/* .color{
	display: flex;
	margin-left: 400px;
	 width: 100%; 
	justify-content: space-between;
}

.color1{
	margin-top: 10px;
	background-color: yellow;
	border-radius: 10px;
	border: 4px solid yellow;
	padding: 50px;
	margin-left: 0px;
	 padding-right:450px ; 
}
.color2{
	margin-top: 10px;
	background-color: blue;
	border-radius: 10px;
	border: 4px solid blue;
	padding: 50px;
	margin-left: 0px;
} */

.courses{
	display: flex;
	justify-content: space-around;
	/* padding: 50px; */
	margin-left: 40px;
	margin-top: 40px;
	/* border: 6px solid paleturquoise; */
}
.course-content{
	display: flex;
	justify-content: space-between;
	padding-top: 90px;
}
.icons{
	width: 41px;
}

.course1{
	padding-top: 14px;
	padding-left: 20px;
	padding-right: 30px;
	margin-right: 60px;
	border: 4px solid aliceblue;
	border-style: outset;
	border-radius: 20px;

}
.course2{
	padding-top: 14px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 60px;
	border: 4px solid aliceblue;
	border-style: outset;
	border-radius: 20px;

}
.course3{
	padding-top: 14px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 60px;
	border: 4px solid aliceblue;
	border-style: outset;
	border-radius: 20px;

}
.course4{
	padding-top: 14px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 60px;
	border: 4px solid aliceblue;
	border-style: outset;
	border-radius: 20px;

}